.story-details,
.story-details .close-circle,
.create-story-circle,
.story-details .create-story,
.story-section,
.story-section .story-slide,
.story-section .story-media,
.story-media .story-header,
.story-media .pageImage,
.story-media .header-content,
.story-media .header-content div,
.story-section .right-section,
.story-section .left-section,
.story-footer,
.story-footer .footer-input,
.story-footer .footer-animations,
.media .on-load-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.story-details {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: black;
    overflow: hidden;

    .close-circle {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        color: white;
        background-color: rgb(158, 154, 154);
        margin-right: 8px;
        cursor: pointer;
    }

    .close-circle:hover {
        background-color: rgb(141, 140, 140);
    }

    /* Posters Section */
    .posters-section {
        width: 30%;
        height: 100vh;
        background-color: white;

        .links p {
            cursor: pointer;
            color: blueviolet;
        }

        .create-story {
            justify-content: flex-start;
            cursor: pointer;
        }

        .create-story-circle {
            width: 55px;
            height: 55px;
            background-color: rgb(235, 231, 231);
            border-radius: 50%;
        }

        .create-story-text,
        .poster-text {
            p {
                color: grey;
                font-size: 10px;
            }

            h1 {
                font-size: 15px;
                font-weight: 600;
            }
        }


        .contact-image-border {
            border: 3px solid rgb(190, 188, 188);
            border-radius: 50%;
            padding: 3px;
        }

    }


    /* Story Section */
    .story-section {
        width: 100%;
        height: 92%;
        color: white;
        padding: 15px;

        .header-profile {
            position: absolute;
            top: 0px;
            right: 0px;
            width: 20px;
            margin-top: 10px;
            color: black;
        }


        .story-slide {
            height: 100%;
            flex-direction: column;
            justify-content: flex-start;

            /* Header in Slide */
            .story-header-with-bar {
                position: absolute;
                width: 95%;
                margin-left: 7%;
                top : 20px;
                padding: 0px 20px;

                .story-header {
                    img {
                        cursor: pointer;
                        width: 45px;
                        height: 45px;
                        border-radius: 50%;
                    }

                    svg {
                        cursor: pointer;
                        margin-left: 5px;
                    }

                    h1 {
                        font-weight: 800;
                        cursor: pointer;
                    }

                    p {
                        font-size: 12px;
                        margin-left: 5px;
                    }
                }

                .story-header-icon {
                    width: 40px !important;
                }
            }

            /* Media */
            .story-media {
                position: relative;
                flex-direction: column;
                justify-content: flex-start;
                height: 100%;

                .story-header {
                    width: 90%;
                    margin-top: 20px;
                }

                .media {
                    width: 400px;
                    border-radius: 10px;
                    height: 100%;
                }

                .on-load-image {
                    position: absolute;
                    background-color: rgb(29, 28, 28);
                }

                .media img,
                .media .on-load-image {
                    border-radius: 10px;
                    width: 350px;
                    height: 100%;
                    margin-left: 5%;
                    padding: 10px;
                }
            }


        }

        /* Arrows */
        .left-section,
        .right-section {
            height: 95%;

            .arrow-left,
            .arrow-right {
                position: relative;
                width: 50px;
                height: 50px;
                transition: margin .4s ease-in-out;
            }
        }

        /* Responsive Hover on Arrows - Removing hover */
        @media (min-width : '550px') {

            .left-section:hover,
            .right-section:hover {
                cursor: pointer;

                .arrow-left,
                .arrow-right {
                    background-color: rgb(192, 188, 188);
                }

                .arrow-left {
                    margin-right: 10px;
                }

                .arrow-right {
                    margin-left: 10px;
                }
            }
        }
    }


    /* Story Header Responsive */
    @media (max-width : '550px') {

        .story-header-with-bar {
            width: 370px !important;
            z-index: 0 !important;
        }
    }


    /* Story Footer */
    .story-footer {
        align-self: center;
        width: 80%;
        height: 5%;

        .footer-input {
            width: 40%;
            position: relative;

            input {
                width: 100%;
                border: 1px solid white;
                border-radius: 50px;
                background-color: transparent;
                color: white;
                font-size: 15px;
                padding: 5px;
                padding-left: 10px;
                padding-right: 10px;
            }

            svg {
                position: absolute;
                right: 10px;
            }
        }

        .footer-animations {
            width: 70%;
            background-color: transparent;
        }
    }

    /* Footer Resonsive */
    @media (max-width : '900px') {
        .story-footer {
            width: 140%;
            height: 8%;
            overflow-x: auto;
            overflow-y: hidden;
        }
    }

}