.brightness-create-new-post {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #dddddfaa;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}