.posts-section,
.create-post,
.create-post-first,
.create-post-second,
.create-post-second-item,
.posts,
.post,
.post-header,
.post-header-icon,
.post-media,
.reactions-buttons,
.reactions-button,
.animations,
.reactions-comments,
.comments-input-icons,
.edit-comment-div,
.edit-comment-option {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.posts-section {
    flex-direction: column;
    justify-content: flex-start;
    width: 70%;
    height: 93%;
    border-radius: 15px;
}

.create-post {
    flex-direction: column;
    height: 150px;
    border-radius: 15px;
    background-color: white;
}

.create-post-first,
.reactions-comments {
    width: 100%;
    height: 100px;
    padding-left: 10px;
    padding-right: 10px;
}

.create-post-first input,
.reactions-comments input {
    width: 90%;
    height: 40px;
    border-radius: 20px;
    margin-left: 10px;
    background-color: aliceblue;
    padding: 15px;
    cursor: pointer;
}

.create-post-first input:hover,
.reactions-comments input:hover {
    background-color: rgb(223, 231, 238);
}

.create-post-second {
    height: 100px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-around;
    font-weight: 800;
    color: grey;
}

.create-post-second-item {
    width: 33%;
    height: 50px;
    border-radius: 10px;
}

.posts {
    flex-direction: column;
    margin-top: 20px;
    border-radius: 15px;
    background-color: transparent;
}

.post {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: fit-content;
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
}

.post p:hover,
.post h2:hover {
    text-decoration: underline;
    cursor: pointer;
}

.post-header img {
    width: 43px;
    height: 43px;
    border-radius: 50px;
    margin-right: 10px;
    cursor: pointer;
}

.post-header h2 {
    font-weight: 800;
    font-size: 14px;
    cursor: pointer;
}

.post-header p {
    font-weight: 800;
    font-size: 10px;
    color: grey;
    cursor: pointer;
}

.post-header-icon {
    padding: 8px;
}

.post-header-icon:hover {
    border-radius: 50%;
    background-color: whitesmoke;
    cursor: pointer
}

.post-media {
    width: 100%;
}

.post-media img,
.post-media video {
    width: 100%;
    height: 600px;
}

.reactions-felling-icons img {
    width: 18px;
    height: 18px;
    cursor: pointer;
}


.reactions-icon,
.reactions-icon-send {
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yc/r/80qnFRz90vM.png);
    background-size: auto;
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
}

.reactions-icon-send {
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yj/r/cwRlWeWjMfO.png);
}

.reactions-button {
    height: fit-content;
    border-radius: 5px;
    padding: 3px;
    cursor: pointer;
}

.reactions-buttons .animations {
    position: absolute;
    bottom: 25px;
    left: -35px;
    transition-delay: 1s;
    transition: all .5s ease-in-out;
}

.like-button:hover .animations {
    bottom: 30px;
}

.reactions-button:hover {
    background-color: rgb(226, 224, 224);
}

.reactions-buttons .reactions-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.reactions-buttons p:hover {
    text-decoration: none;
}

.reactions-comments {
    position: relative;
}

.reactions-comments {
    .comments-input-icons {
        width: fit-content;
        position: absolute;
        right: 0px;
    }
}


.comment:hover .edit-comment {
    display: flex !important;
}

.edit-comment-dialog {
    position: absolute;
    top: -50px;
    left: 150px;
    width: 160px;
    height: 60px;
    border-radius: 10px;
    padding: 5px;
    background-color: white;
    box-shadow: 5px 5px 15px black;
    font-size: 13px;

    .edit-comment-option {
        flex-direction: column;
        border-radius: 5px;
        height: 25px;
        cursor: pointer;
    }

    .edit-comment-option:hover {
        background-color: rgb(221, 216, 216);
    }

    svg {
        position: absolute;
        bottom: -10px;
        left: 50%;
    }
}