@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none !important;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(170, 164, 164);
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.scrollable-section {
    max-height: fit-content;
    transition: 0.3s linear;
}


.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity .5s linear;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity .5s linear;
}


.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.flexCenterColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexCenterColumnStartItems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.flexStart {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}