/* Create story page */

.create-story-page,
.icon-circle,
.story-text,
.story-actions,
.upload-photo,
.upload-text,
.black-area,
.text-area-value,
.photo-area,
.colors,
.buttons,
.photo-story,
.photo-area-label,
.add-text,
.Aa-icon,
.custom-photo-value {
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-story-page-with-header {
    height: 100vh;
}

.create-story-page {
    justify-content: space-between;
    width: 100%;
    height: 100vh;

    /* Text */
    .story-text {
        width: 400px;
        height: 100%;
        flex-direction: column;
        justify-content: flex-start;
        background-color: whitesmoke;
        box-shadow: 5px 5px 10px rgb(187, 186, 186);
        z-index: 20;

        .setting-icon {
            background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yF/r/qZ8dsad8iZp.png);
        }

        h1 {
            font-weight: 800 !important;
            font-size: 20px;
        }

        p {
            font-size: 15px;
            font-weight: 600;
            margin-left: 20px;
        }

        .type-story {
            position: relative;

            .text-input {
                width: 100%;
                height: 200px;
                margin-top: 10px;
                border: 1px solid grey;
                border-radius: 10px;
            }

            .text-input:focus {
                outline: none;
                border: 1px solid blue;
                box-shadow: 0 0 10px #719ECE;
            }

            .start-typing {
                position: absolute;
                top: 40px;
                left: 32px;
                transition: all .3s ease;
                cursor: auto;
            }

            .moveLabelToTop {
                position: absolute;
                top: 25px;
                color: blue;
                font-size: 13px;
                transition: all .3s ease
            }

            /* Select Font */
            .select-font {
                width: 100%;
                height: 50px;
                border-radius: 10px;
                border: 1px solid black;
                margin-top: 10px;
                cursor: pointer;
            }

            /* Select Background */
            .select-bg {
                display: flex;
                flex-direction: column;
                width: 98%;
                height: 150px;
                margin-top: 10px;
                border: 1px solid black;
                border-radius: 10px;
                overflow-x: auto;

                p {
                    font-weight: 200;
                    color: grey;
                    margin-top: 10px;
                }

                .colors {
                    width: 100%;
                    height: 100%;
                    padding: 10px;
                    flex-wrap: wrap;

                    .color {
                        height: 40px;
                        width: 40px;
                        border-radius: 50%;
                        margin-left: 5px;
                        cursor: pointer;
                        transition: all .3s linear;
                    }

                    .show-border {
                        border: 4px solid blue;
                        width: 48px;
                        height: 48px;
                        transition: all .3s linear;
                    }
                }
            }

        }

        .photo-story {
            width: 100%;
            height: 70%;
            padding: 10px;
            flex-direction: column;
            justify-content: space-between;

            .add-text {
                justify-content: flex-start;
                width: 100%;
                height: 50px;
                padding: 10px;
            }

            .add-text:hover {
                background-color: rgb(236, 234, 234);
                border-radius: 10px;
                cursor: pointer;
            }

            .Aa-icon {
                height: 40px;
                border-radius: 50%;
                background-color: rgb(226, 223, 223);

                p {
                    margin-right: 50%;
                }
            }
        }
    }

    /* Actions */
    .story-actions {
        position: relative;
        background-color: #E4E6EB;
        width: 80%;
        height: 100vh;

        .upload {
            flex-direction: column;
            position: relative;
            width: 220px;
            height: 55%;
            border-radius: 10px;
            margin-left: 20px;
            cursor: pointer;
        }

        .upload-photo {
            background-image: linear-gradient(to top left, rgb(191, 186, 230), rgb(129, 112, 238));
        }

        .upload-text {
            background-image: linear-gradient(to top left, rgb(236, 60, 60), rgb(231, 133, 223));
        }

        .brightness {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: transparent;
        }

        .upload:hover .brightness {
            background-color: #00000010;
        }

        .photo-icon {
            background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/y5/r/89Ou4_JKGzU.png);
        }

        .icon-circle {
            width: 40px;
            height: 40px;
            background-color: white;
        }

        h1 {
            font-weight: 800;
        }

        p {
            font-weight: 800;
            font-size: 13px;
            margin-top: 10px;
            color: white;
        }

        .upload-text-dialog {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 20px;
            width: 95%;
            height: 90%;
            background-color: white;
            border-radius: 10px;

            p {
                font-size: 15px;
                color: black;
                margin-bottom: 10px;
            }

            .black-area {
                width: 100%;
                width: 100%;
                height: 95%;
                background-color: black;
                border-radius: inherit;
            }

            .text-area-value,
            .photo-area {
                width: 300px;
                height: 95%;
                border-radius: inherit;

                h1 {
                    font-size: 20px;
                    font-weight: 800;
                    color: gainsboro;
                }
            }

            .text-area-value {
                background-image: linear-gradient(to left, rgb(146, 146, 240), rgb(126, 21, 224));
                overflow-x: auto;
            }

            .photo-area-all {
                width: 250px;
                height: 85%;

                .photo-area {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    bottom: 15px;
                    border: 1px solid white;
                    border-radius: 10px;

                    img {
                        width: 100%;
                        height: 400px;
                        overflow: hidden;
                    }

                    h1 {
                        position: absolute;
                        top: 45%;
                        left: 35%;
                    }
                }
            }

            h2 {
                color: white;
            }

            .textarea-on-photo {
                width: 100%;
                height: 50px !important;
                height: fit-content;
                padding: 10px;
                background-color: transparent;
                border: 1px solid transparent;
                color: white;
                font-size: 25px;
                position: absolute;
                top: 40%;
                left: 0px;
                text-align: center;
            }
        }

        .custom-photo-value {
            flex-direction: column;
            position: absolute;
            right: -220px;
            top: 120px;
            width: 200px;

            /* Select Font */
            .select-font {
                width: 100%;
                height: 50px;
                border-radius: 10px;
                background-color: whitesmoke;
                border: 1px solid black;
                margin-top: 10px;
                cursor: pointer;
            }

            /* Select text color */
            .select-text-color {
                display: flex;
                flex-direction: column;
                width: 98%;
                height: 150px;
                margin-top: 10px;
                background-color: rgb(31, 30, 30);
                border: 1px solid black;
                border-radius: 10px;
                overflow-x: auto;

                p {
                    font-weight: 200;
                    color: grey;
                    margin-top: 10px;
                }

                .colors {
                    width: 100%;
                    height: 100%;
                    padding: 10px;
                    flex-wrap: wrap;

                    .color {
                        height: 40px;
                        width: 40px;
                        border-radius: 50%;
                        margin: 5px;
                        cursor: pointer;
                        transition: all .3s linear;
                    }

                    .show-border {
                        border: 4px solid blue;
                        width: 48px;
                        height: 48px;
                        transition: all .3s linear;
                    }
                }
            }
        }
    }









    /* Discard and Share Buttons */
    .buttons {
        justify-content: space-between;
        margin-top: 10px;
        width: 100%;

        .discard-button {
            width: 43%;
            background-color: rgb(224, 222, 222);
            border-radius: 10px;
            padding: 7px;
        }

        .discard-button:hover {
            background-color: rgb(204, 201, 201);
        }

        .share-button {
            width: 55%;
            background-color: rgb(66, 66, 190);
            color: white;
            border-radius: 10px;
            padding: 7px;
        }

        .share-button:hover {
            background-color: rgb(60, 60, 167);
        }
    }

    /* Icons */
    .icon-circle {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: rgb(211, 206, 206);
        cursor: pointer;

        .create-story-icons {
            background-size: auto;
            width: 20px;
            height: 20px;
            background-repeat: no-repeat;
            display: inline-block;
            margin: 5px;
        }

    }

    .icon-circle:hover {
        background-color: rgb(190, 186, 186);
    }
}


@media (max-width : 1000px) {
    .create-story-page {
        flex-direction: column;
        height: 100%;

        .story-text {
            width: 100%;
            height: 100%;
            order: 2
        }

        .story-actions {
            width: 100%;
            height: 600px;
        }
    }

}